better-apidoc
coverage
cython
doctr
doctr_versions_menu @  git+https://github.com/goerz/doctr_versions_menu.git@master
flake8 >= 3.7
gitpython
ipython
pytest >= 5.1
pytest-cov
recommonmark
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx_rtd_theme
travis-encrypt
twine
wheel
