better-apidoc
coverage
cython
doctr
doctr-versions-menu
flake8 >= 3.7
gitpython
ipython
pytest >= 5.1
pytest-cov
recommonmark
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx_rtd_theme
travis-encrypt
twine
wheel
